@model ArticleViewModel
@{
    ViewData["Title"] = "Read";
}



<p>
    <a asp-action="Create" asp-route-ArticleId="@Model.Article.Id" asp-controller="Commentaire">Créer un nouveau</a>
</p>
<form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>DateCreation</th>
                <th>DateModif</th>
                <th>Contenu</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contenu)
                    </td>
                    <td>
                        <button asp-action="Update" asp-route-Id="@item.Id" asp-route-ArticleId="@Model.Article.Id" asp-controller="Commentaire">Update</button>

                        <button asp-action="Delete" asp-route-Id="@item.Id" asp-controller="Commentaire">Delete</button>
                        <button asp-action="Details" asp-route-Id="@item.Id" asp-controller="Commentaire">Details</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<a asp-action="Read" asp-controller="Article">Retour</a>


